@import "../../styles/color.scss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.cardHome {
  display: flex;
  gap: 10px;
  margin: 20px;
  flex-wrap: wrap;
  > svg {
    color: $black;
    cursor: pointer;
  }
  .backTasks {
    cursor: pointer;
    color: $black;
    font-weight: 700;
    font-size: 16px;
  }
}

.container {
  border: 1px solid $grey_100;
  border-radius: 4px;
  padding: 20px;
  margin: 0 40px;
  min-width: 100px;
  .taskDetails {
    margin-bottom: 40px;
    .taskHeading {
      font-size: 20px;
      font-weight: 700;
    }
    .taskDescription {
      color: $grey;
    }
  }
  .form {
    .fieldNameAge {
      display: flex;
      gap: 20px;
    }
    .field {
      width: 100%;
      margin-bottom: 20px;
      .label {
        font-weight: 700;
      }
      .inputField {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        outline: none;
        font-weight: 600;
        margin: 7px 0px;
        border: 1px solid $grey_100;
        &.invalidInput {
          border: 1px solid $error;
        }
      }
      .error {
        color: $error;
        font-size: 12px;
      }
      .passwordField {
        display: flex;
        cursor: pointer;
        border: 1px solid $grey_100;
        border-radius: 8px;
        margin: 10px 0px;
        &.invalidInput {
          border: 1px solid $error;
        }
        .passwordInput {
          width: 100%;
          margin: 10px;
          font-weight: 600;
          border: none;
          outline: none;
        }
        .passwordIcon {
          width: 20px;
          height: 10px;
          margin: 7px 10px;
        }
      }
    }
  }
}
.submit {
  background-color: $black;
  color: $white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
}

.result {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  .resultHeading {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
  }
  .resultFieldName {
    margin: 5px 0;
  }
}
